/**
 * --------------------------
 * From @tailwind preflight;
 */

*,
*::before,
*::after {
  border-width: 0;
  border-style: solid;
  border-color: config('borderColors.default', currentColor);
}

img {
  border-style: solid;
}

/**
 * --------------------------
 * End @tailwind preflight;
 */

html {
  font-size: 17px;
}

a,
a:hover {
  color: inherit;
  text-decoration: none;
}

ol,
ul {
  @apply .list-reset;
}

.markdown-content {
  max-width: 100%;
}

.markdown-content h1:first-child,
.markdown-content h2:first-child {
  margin-top: 0;
}

@tailwind components;

@tailwind utilities;
